body{
	background-color: #FFFFFF;
        font-style: times;
}
.header{
	background:#35424a;
        color:#ffffff;
        margin-top: 5px;
        min-height:10px;
        border-bottom:#e8491d 3px solid;
        font-style: times;
}
footer{
        position: fixed; 
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1px;
        margin-top: 30px;
        color: #ffffff;
        background-color: red;
        text-align: center;
}
.donor,.receiver{
	color: #8A0303;
}
.a {
  background-color: #ddd;
  padding: 5px;
  border: 1px solid #aaa;
  text-decoration: none;
  color: #4CAF50;
  border-radius: 4px;
}
.home{
        color: #4CAF50;
        text-decoration: none;
}
.hospital{
	color: #8A0303;
}
.admin{
	color: #8A0303;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.a:hover {
  background-color: c7c7c7;
}
.aheader:hover{
       background-color: #45a049; 
}
table th {
        background-color: #4CAF50;;
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #4CAF50;
  color: white;
}